.boton
{
	-fx-background-color: gray;
	-fx-border-color: linear-gradient(to left,    #707070    ,  #4e4b4f  );
	-fx-border-width: 0 0 4 0 ; 
}
.boton:hover
{
	-fx-background-color:  #b8b6b0 ;
	-fx-border-color: white;
}
.botonHome
{
	-fx-background-color: #000000;
}
.botonHome:hover
{
	-fx-background-color:  #b2b7b8 ;
}

.panelBase
{
	-fx-background-color: #52514f;
}

.panelInferior
{
	-fx-background-color:linear-gradient(to left,#e0743b,   #fce504 );
}
.info_registros
{
	-fx-background-color: white;
}

.info_registros:hover
{
	-fx-background-color: linear-gradient(to left, #b1e947 , #4deaec );
}
