.panelFondo
{
	-fx-background-color: white;
}

.panelPrincipal
{
	-fx-background-color:  #565655 ;
}

.titulo
{
	-fx-background-color: linear-gradient(to left,#e0743b,   #fce504 );
}

.botones:hover
{
	-fx-effect: dropshadow(gaussian,black,10,0.1,0,0);
}

.listaOpciones
{
	-fx-font-size: 12px;
	-fx-border-color: black;
	-fx-border-width: 0 0 4 0 ; 
}
.listaOpciones:hover
{
	-fx-border-color:gray;
	-fx-border-width: 0 0 4 0 ;  
}

.fieldEntrada
{
	-fx-background-radius: 6;
}
.textEntrada:hover
{
	-fx-effect: innershadow(gaussian, black,5,0,0,0);
}