.panelPrincipal
{
	-fx-background-color: #535251;
}
.titulo
{
	
}

.botones
{
	-fx-background-color: gray;
}
.botones:hover
{
	-fx-effect: innershadow(gaussian, black,5,0,0,0);
}

.botonBusqueda
{
	-fx-background-radius: 5;
}
.botonBusqueda:hover
{
	-fx-effect: dropshadow(gaussian,black,10,0.1,0,0);
}

.text-area{
	text-area-background: #625f5e;
	-fx-text-fill: white;
}

.text-area .content {
    -fx-background-color: text-area-background ;
    
}

.date-picker .text-field {
	-fx-control-inner-background: #625f5e;
}
.date-picker {
	-fx-text-fill: white;
}

.fieldEntrada
{
	-fx-background-radius: 6;
	-fx-background-color: #625f5e;
	-fx-text-fill: white;
}

.fieldEntrada:hover
{
	-fx-effect: innershadow(gaussian, black,5,0,0,0);
}