.panelBase
{
	-fx-background-color: #ecf0f1;
}

.panelPro_lecturas
{
	-fx-background-color:#ffffff;
	-fx-background-radius: 10;
	-fx-bacground-effect: dropshadow( gaussian,  #000000  ,19,0.4,0,0);	
}

.panelPro_lecturas:hover
{
	-fx-effect: dropshadow(gaussian,  #000000 ,20,0.6,0,0);
}

.panelNorte
{
	-fx-background-color: #ffffff;
	-fx-background-radius: 10;
}

.table-view{
    -fx-background-color:  linear-gradient(to bottom,  #625f5e ,#6d6d6c);
    -fx-background-radius: 7px 7px 7px 7px;
}

.table-view .label{
	-fx-text-fill: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill:  #d9d9d8 ;
    -fx-font-size: 11px;
}

.table-view .column-header-background{
    -fx-background-color: #625f5e;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-margin: 10px;
}

.table-view .table-cell{
    -fx-border-color:  #636363 ;
    -fx-padding: 3px;
    -fx-text-fill:  #bfbfba ;
}

.table-row-cell:odd{
    -fx-background-color:   linear-gradient(to right,#625f5e ,#6d6d6c)  ;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color:  linear-gradient(to left,#625f5e ,#6d6d6c) ;
    -fx-text-fill: red;
    -fx-background-insets: 0, 0 0 1 0;
}

.table-row-cell:selected {
    -fx-background-color:  #787878 ;
}


.table-row-cell:hover {
    -fx-background-color:   #787878 ;
    -fx-text-fill: red;
}


.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}


.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: linear-gradient(to bottom,#e0743b,   #fce504 );
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to left,#e0743b,   #fce504 );
}
