.panelFondo
{
	-fx-background-color: white;
}

.titulo
{
	-fx-background-color:linear-gradient(to left,#e0743b,   #fce504 );
}

.botones:hover
{
	-fx-effect: dropshadow(gaussian,black,10,0.1,0,0);
}

.fieldEntrada
{
	-fx-background-radius: 6;
}
.fieldEntrada:hover
{
	-fx-effect: innershadow(gaussian, black,5,0,0,0);
}